*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';

    color: black;
}

html, body{
    height: 100%;
    width: 100%;
}
/* #cursor{
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    z-index: 99;
} */
#cursor-blur{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.562);
    /* opacity: 20%; */
    position: fixed;
    filter: blur(20px);
    z-index: 10;
}
#nav{
    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-start;
    padding: 0 80px;
    gap: 50px;
    z-index: 999;
}

#nav a i{
    font-size: 75px;
    text-decoration: none;
    color: black;
    cursor: default;
    transition: color 1s;
}
#nav a i:hover{
    color: #A9A9A9;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    transition: color 0.5s;
}
#nav h4::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    top: 20px;
    bottom: 0;
    left: 0;
    background-color: black;
} 

h4:hover{
    color: #A9A9A9;
}

#nav h4:hover::after{
    animation-name: lineanime;
    animation-duration: 1s;
}

@keyframes lineanime {
    0%{
        width: 0;
        left: 0;
    }
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
#nav a{
    text-decoration: none;
}

video{
    position: fixed;
    width: 130%;
    height: 125%;
    object-fit: cover;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.075);
}
#page1{
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-left: 100px;
    z-index: 11;
}
#page1 h1{
    font-size: 120px;
    font-weight: 300;
    /* -webkit-text-stroke: 1px white; */
    position: relative;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 10px;
    color: white;
    position: relative;
}
#page1 p{
    font-size: 15px;
    margin-left: 9px;
    font-weight: 500;
    color: #191919;
}
#page2{
    height: 100vh;
    width: 100%;
}